<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Note app</title>
  </head>
  <body>
    <h1>Note app</h1>
    {% if note_list %}
    <ul>
        {% for note in note_list %}
            <li><a href="{% url 'notes:note' note.id %}">{{ note.note_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No notes are available.</p>
    {% endif %}

    <h2>Add note</h2>
    <form action="{% url 'notes:add' %}" method="post">
      {% csrf_token %}
      <input type="text" name="note_text">
      <input type="submit" value="Add">
    </form>
  </body>
</html>

