<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Note app</title>
  </head>
  <body>
    <h1>Note app</h1>

    <h2>Search results</h2>
    {% if note_list %}
    <table>
        {% for note in note_list %}
            <tr>
              <th>
                <a href="{% url 'notes:note' note.id %}">{{ note.note_text }}</a>
              </th>
              <th>
                <form action='{% url 'notes:delete' note.id %}' method="DELETE">
                  {% csrf_token %}
                  <input type="submit" value="Delete"/>
                </form>
              </th>

            </tr>
        {% endfor %}
          </table>
    {% else %}
        <p>No notes are available.</p>
    {% endif %}

    <p>
      <a href="{% url 'notes:index' %}"">Go back</a>
    </p>
  </body>
</html>

